/* FONTS */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* MIXINS */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  font-family: inherit;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 18px;
  white-space: nowrap;
}

.button.button-large {
  font-size: 20px;
  line-height: 36px;
  height: 52px;
}

.button.secondary {
  background-color: #756157;
}

.button.favorite {
  background-color: #7DB54F;
}

.button.ghost {
  background-color: transparent;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
}

.description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* GLOBAL */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* HEADER */

.header {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: stretch;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: #000000;
  height: 100%;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.navigation-link.current {
  border-bottom-color: #756257;
}

.navigation-logo-link {
  margin-right: 44px;
}

.user-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.user-menu-item {
  margin-right: 26px;
}

.user-menu-item.with-badge {
  margin-right: 33px;
}

.user-menu-link {
  text-decoration: none;
}

.user-menu-button {
  width: 160px;
}

.badge {
  display: none;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;

  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

/* INDEX */

.main {
  flex-grow: 1;
}

.main.main-index {
  text-align: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-color: #9dc4dd;
}

.hero-info {
  padding: 70px 274px;
}

.hero-title {
  margin-bottom: 25px;
}

.hero-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advantages-item.full-description {
  display: flex;
}

.advantages-card-image {
  /* display: none; */
}

.advantages-item.full-description .advantages-card {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item.short-description:nth-child(odd) .advantages-card {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.short-description:nth-child(even) .advantages-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 84px;
  width: 400px;
  height: 384px;
}

.advantages-icon {
  margin-bottom: 30px;
}

.advantages-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages-card-title.with-separator {
  display: flex;
  max-width: 74%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.advantages-card-title.with-separator::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
  box-sizing: border-box;
}

.advantages-card-description {
  margin: 0;
}

.advantages-item.for-service:nth-child(odd) .advantages-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.service {
  padding: 64px 348px;
}

.offer {
  padding: 96px 304px;
}

.offer-title {
  margin-bottom: 20px;
}

.offer-description {
  margin-bottom: 54px;
}

.offer-link {
  min-width: 376px;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 414px;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-title {
  margin-bottom: 20px;
}

.newsletter-description {
  margin-bottom: 54px;
}

.newsletter-form {
  display: flex;
  width: 100%;
}

.newsletter-field {
  flex-grow: 1;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  font-family: inherit;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.newsletter-field::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.newsletter.with-background {
  background-image: url("../images/background-subscribe.jpg");
  color: #ffffff;
  background-color: #8baab8;
}

.newsletter.with-background .title {
  color: inherit;
}

.newsletter-button {
  width: 232px;
  border-radius: 0 4px 4px 0;
}

/* FOOTER */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 35px 80px;
}

.page-footer section {
  max-width: calc(100% / 3);
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 26px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

/* CATALOG */

.catalog {
  width: 1200px;
  height: 412px;
  background-image: url("../images/background-filter.jpg");
  color: #ffffff;
  background-color: #8baab8;
  padding: 35px 70px 70px;
}

.filter-form {
  display: flex;
}

.filter-form-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px;
}

.breadcrumbs-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  content: "";
  width: 6px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.91526 4.96875L2.16526 0.71875C1.91526 0.46875 1.41526 0.46875 1.04026 0.71875C0.665263 0.96875 0.790263 1.46875 1.04026 1.71875L5.16526 5.46875L1.16526 9.21875C0.915263 9.46875 0.915263 9.96875 1.16526 10.2188C1.16526 10.3438 1.54026 10.4688 1.66526 10.4688C1.79026 10.4688 2.04026 10.3438 2.16526 10.2188L6.91526 5.96875C7.29026 5.71875 7.29026 5.21875 6.91526 4.96875Z' fill='white'/%3E%3C/svg%3E%0A");
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.filter-form-set-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-form-list {
  line-height: 23px;
}

.form-button {
  width: 190px;
}

.form-button-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog-content {
  padding: 50px 70px 60px;
}

.sort-controls {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sort-result {
  margin: 0 auto 0 0;
}

.sort-select {
  padding: 10px 20px;
  width: 292px;
  height: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
  margin-right: 70px;
}

.view-list {
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 8px;
}

.view-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-button.current {
  border-color: #000000;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
}

.catalog-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.catalog-card-image {
  margin-bottom: 16px;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 16px;
  word-break: break-word;
}

.catalog-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px;
  gap: 20px;
}

.catalog-card-button {
  flex-grow: 1;
  flex-basis: 50%;
}

.catalog-card-rating {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
  min-width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 8px 22px;
}

.card-star-wrapper {
  flex-basis: 50%;
}

.divider {
  width: 100%;
  border: 1px solid #E6E6E6;
  margin: 0 0 40px;
}

.pagination {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link.pagination-more {
  color: #000000;
  background-color: transparent;
}

