/* FONTS */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* MIXINS */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 36px;
  font-family: inherit;
  border-radius: 4px;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 18px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

.button.button-large {
  font-size: 20px;
  line-height: 36px;
  height: 52px;
}

.button:hover {
  background-color: #68A2CA;
}

.button:focus {
  background-color: #68A2CA;
}

.button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button.secondary {
  background-color: #756157;
}

.button.secondary:hover {
  background-color: #615048;
}

.button.secondary:focus {
  background-color: #615048;
}

.button.secondary:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button.secondary:disabled {
  background-color: #E5E5E5;
}

.button.favorite {
  background-color: #7DB54F;
}

.button.favorite:hover {
  background-color: #6C9E42;
}

.button.favorite:focus {
  background-color: #6C9E42;
}

.button.favorite:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button.favorite:disabled {
  background-color: #E5E5E5;
}

.button.ghost {
  background-color: transparent;
}

.button.ghost:hover {
  color: #ffffff;
}

.button.ghost:focus {
  outline: 3px solid #83B3D3;
}

.button.ghost:active {
  background-color: #FFFFFF4D;
  color: rgba(255, 255, 255, 0.3);
}

.button.ghost:disabled {
  color: #ffffff;
}

.title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
}

.description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

/* GLOBAL */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

img {
  max-width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

/* HEADER */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 70px;
  min-height: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  position: absolute;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  height: 100%;
  text-decoration: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.navigation-link.current {
  border-bottom-color: #756257;
}

.navigation-logo-link {
  margin-right: 44px;
  width: 140px;
}

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.user-menu-item:not(:last-child) {
  margin-right: 26px;
}

.user-menu-item.with-badge {
  margin-right: 33px;
}

.user-menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-decoration: none;
}

.user-menu-button {
  width: 160px;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -13px;
  right: -9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;

  background-color: #7DB54F;
  border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
}

/* INDEX */

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main.main-index {
  text-align: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-color: #9dc4dd;
}

.hero-image {
  margin-bottom: 25px;
}

.hero-info {
  padding: 70px 274px 90px;
}

.hero-title {
  margin-bottom: 25px;
}

.hero-description {
  font-size: 22px;
  line-height: 26px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.full-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-description .advantages-card {
  background-color: #82B3D3;
  color: #ffffff;
}

.short-description:nth-child(odd) .advantages-card {
  background-color: rgba(131, 179, 211, 0.2);
}

.short-description:nth-child(even) .advantages-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 84px;
  width: 400px;
  height: 384px;
}

.advantages-icon {
  margin-bottom: 30px;
}

.advantages-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages-card-title.with-separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 74%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.advantages-card-title.with-separator::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.advantages-card-description {
  margin: 0;
}

.for-service:nth-child(odd) .advantages-card {
  background-color: rgba(131, 179, 211, 0.12);
}

.service {
  padding: 64px 348px;
}

.offer {
  padding: 96px 304px;
}

.offer-title {
  margin-bottom: 20px;
}

.offer-description {
  margin-bottom: 54px;
}

.offer-link {
  min-width: 376px;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 414px;
  text-align: center;
  padding: 96px 258px 104px;
}

.newsletter-title {
  margin-bottom: 20px;
}

.newsletter-description {
  margin-bottom: 54px;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.newsletter-field {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
  font-family: inherit;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  outline: none;
  margin: 0;
}

.newsletter-field:hover {
  background-color: #E6E6E6;
}

.newsletter-field:focus {
  background-color: #E6E6E6;
  outline: 2px solid #68A2CA;
}

.newsletter-field:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.newsletter-field::-webkit-input-placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.newsletter-field::-moz-placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.newsletter-field:-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.newsletter-field::-ms-input-placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.newsletter-field::placeholder {
  color: #000000;
  opacity: 0.6;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.with-background {
  background-image: url("../images/background-subscribe.jpg");
  color: #ffffff;
  background-color: #8baab8;
}

.with-background .title {
  color: inherit;
}

.newsletter-button {
  width: 232px;
  border-radius: 0 4px 4px 0;
}

/* FOOTER */

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 70px 35px 80px;
}

.page-footer section {
  max-width: calc(100% / 3);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.footer-social-link svg {
  fill: #83B3D3;
}

.footer-social-link:hover svg {
  fill: #68A2CA;
}

.footer-social-link:focus svg {
  fill: #68A2CA;
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}


.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
  outline: none;
  padding-left: 10px;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.copyright-link svg {
  fill: black;
}

.copyright-link:hover svg {
  fill: #756157;
}

.copyright-link:focus svg {
  fill: #756157;
}

.copyright-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/* CATALOG */

.catalog {
  width: 1200px;
  height: 412px;
  background-image: url("../images/background-filter.jpg");
  color: #ffffff;
  background-color: #8baab8;
  padding: 35px 70px 70px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  line-height: 23px;
}

.input-number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 44px;
  gap: 2px;
}

.filter-input-number {
  width: 143px;
  height: 48px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: 2px solid transparent;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 18px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.filter-input-number:hover {
  background-color: #E6E6E6;
  outline: 2px solid #68A2CA;
}

.filter-input-number:focus {
  outline: 3px solid #83B3D3;
}

.filter-input-number::-webkit-outer-spin-button,
.filter-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.filter-input-number.min {
  border-radius: 4px 0 0 4px;
}

.filter-input-number.max {
  border-radius: 0 4px 4px 0;
}

.filter-label-number {
  position: relative;
}


.label-number-text {
  position: absolute;
  width: 17px;
  height: 24px;
  color: rgba(0, 0, 0, 0.3);
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}


.range {
  width: 100%;
  height: 4px;
  background-color: rgb(255 255 255 / 0.3);
}

.range-progress {
  position: relative;
  width: 78.5%;
  height: 100%;
  background-color: #ffffff;
}

.range-control {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  outline: none;
  cursor: move;
}

.range-control.min:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-control.min:focus {
  border: 3px solid #83B3D3;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-control.min:active {
  border: 2px solid #83B3D3;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-control.max {
  right: 0;
}

.range-control.max:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-control.max:focus {
  border: 3px solid #83B3D3;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-control.max:active {
  border: 2px solid #83B3D3;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.catalog-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
  padding-left: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  content: "";
  width: 6px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.91526 4.96875L2.16526 0.71875C1.91526 0.46875 1.41526 0.46875 1.04026 0.71875C0.665263 0.96875 0.790263 1.46875 1.04026 1.71875L5.16526 5.46875L1.16526 9.21875C0.915263 9.46875 0.915263 9.96875 1.16526 10.2188C1.16526 10.3438 1.54026 10.4688 1.66526 10.4688C1.79026 10.4688 2.04026 10.3438 2.16526 10.2188L6.91526 5.96875C7.29026 5.71875 7.29026 5.21875 6.91526 4.96875Z' fill='white'/%3E%3C/svg%3E%0A");
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.filter-form-set {
  margin-left: 0;
  padding: 0;
  border: none;
}

.filter-form-set.infrastructure {
  width: 150px;
  margin-right: 67px;
}

.filter-form-set.apartments {
  width: 150px;
  margin-right: auto;
}

.filter-form-set.cost {
  width: 220px;
  margin-right: 70px;
}

.filter-form-set.button-wrapper {
  width: 190px;
  padding-top: 58px;
  margin-right: 0;
}

.filter-form-set-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.form-button {
  width: 190px;
}

.form-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 32px;
}

.catalog-content {
  padding: 50px 70px 60px;
}

.sort-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.sort-result {
  margin: 0 auto 0 0;
}

.sort-select-wrapper {
  position: relative;
  width: 292px;
  height: 50px;
  margin-right: 70px;
}

.sort-select {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  outline: none;
}

.sort-select:hover {
  border-color: #68A2CA;
}

.sort-select:focus {
  border: 2px solid #68A2CA;
}

.sort-select:active {
  border: 2px solid #3F5E72;
}

.sort-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sort-select-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;

  width: 12px;
  height: 8px;
}

.view-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  gap: 8px;
}

.view-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  outline: none;
}

.view-button.current {
  border-color: #000000;
}

.view-button:not(.current):hover {
  border-color: #000000;
}

.view-button:not(.current):focus {
  border-color: #68A2CA;
}

.view-button:not(.current):active {
  border-color: #000000;
}

.catalog-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 20px 340px 20px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 38px;
  padding-left: 0;
}

.catalog-card {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.catalog-card-image {
  margin-bottom: 13px;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 16px;
  word-break: break-word;
}

.catalog-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-bottom: 16px;
  gap: 20px;
}

.catalog-card-row:last-child {
  margin-bottom: 0;
}

.catalog-card-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.catalog-card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 140px;
  height: 36px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 8px 22px;
}

.card-star-wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.divider {
  width: 100%;
  border: 1px solid #E6E6E6;
  margin: 0 0 39px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.pagination-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
  outline: none;
}

.pagination-link.current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link.more {
  color: #000000;
  background-color: transparent;
}

.pagination-link.primary:hover {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link.primary:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link.primary:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}


.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  gap: 16px;
}

.form-label:hover .checkbox,
.form-label:hover .radio {
  opacity: 0.6;
}

.custom-checkbox {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.form-label-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.form-label-text.checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form-label-text.radio::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid #ffffff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.input-checkbox:checked + .checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='11' viewBox='0 0 13 11' fill='none'%3E%3Cpath d='M11 0.5L4.5 7.9L1.1 4L0 5.2L4.5 10.4L12.2 1.8L11 0.5Z' fill='%233F5E72'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.input-checkbox:focus + .checkbox::before {
  outline: 3px solid #83B3D3;
}

.input-checkbox:active + .checkbox {
  opacity: 0.3;
}

.input-radio:checked + .radio::before {
  background-color: #3F5E72;
}

.input-radio:focus + .radio::before {
  outline: 3px solid #83B3D3;
}

/* POPUP */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.overlay.show {
  display: block;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 716px;
  min-height: 570px;
  padding: 64px 70px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.popup-title {
  margin-bottom: 67px;
  line-height: 1;
}

.popup-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: #F2F2F2;
  outline: none;
  cursor: pointer;
}

.popup-close-button:hover {
  background-color: #E6E6E6;
}

.popup-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.popup-close-button:active {
  opacity: 0.3;
}

.popup-form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popup-form-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 137px;
  font-weight: 700;
  font-size: 20px;
  line-height: 48px;
  text-transform: capitalize;
}

.popup-form-text.children {
  padding-left: 6px;
}

.popup-form-input {
  font-family: inherit;
  height: 48px;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
}

.popup-form-input:hover {
  background-color: #E6E6E6;
  color: rgba(0, 0, 0, 0.3);
}

.popup-form-input:focus {
  outline: 3px solid #83B3D3;
  border-radius: 3px;
}

.popup-form-input.date {
  width: 440px;
  padding: 12px 18px;
}

.popup-form-input.number {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 30px;
  padding: 12px 0;
  text-align: center;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield
}

.popup-form-input.number::-webkit-outer-spin-button,
.popup-form-input.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.input-number-button {
  border: none;
  width: 40px;
  height: 100%;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.number-icon {
  width: 20px;
  height: 20px;
  padding: 3px;
  fill: rgb(117 97 87 / 0.3);
}

.input-number-button:hover .number-icon {
  fill: #000000;
}

.input-number-button:focus-visible .number-icon {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
}

.input-number-button:active .number-icon {
  fill: rgb(117 97 87 / 0.2);
}

.popup-number-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  height: 48px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

.label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-date-wrapper {
  position: relative;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 22px;
}

.popup-form-submit {
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

.hint {
  display: block;
  padding-top: 4px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
}

.hint.error {
  color: #FF5757;
}

.hint.success {
  color: #333333;
}

.popup-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 48px;
  padding-left: 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
}

.info:hover + .tooltip-cloud {
  display: block;
}

.tooltip-wrapper {
  position: relative;
}

.tooltip-cloud {
  position: absolute;
  display: none;
  top: 41px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 256px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: #333333;
  color: #FFFFFF;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-transform: none;
}

.tooltip-cloud::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  display: block;
  width: 13px;
  height: 13px;
  background-color: #333333;
}
